# Current and necessary
- check the annotation format of balloons
- there might be a hint to why ours fails

In [2]:
from __future__ import annotations
import mmcv
from pathlib import Path
import json
import pandas as pd

In [40]:
root_path = Path("../data/bkt-orama-anocci-prod/caddi/fy2022q1-200/")
images_from_dir = root_path / "images"
annotations_file = root_path / "annots/caddi-fy2022q1-200.json"
exp_dir = root_path / "0127"
csv_file = exp_dir / "splits.csv"

In [45]:
new_annotation_file = exp_dir / "train" / "annotation.json"
new_annotations = mmcv.load(new_annotation_file)

In [46]:
new_annotations.keys()

dict_keys(['info', 'licenses', 'images', 'annotations', 'categories'])

In [47]:
new_annotations['categories']

[{'id': 1,
  'supercategory': '',
  'name': 'Object View',
  'keypoints': [],
  'skelton': []}]

In [41]:
annotations = mmcv.load(annotations_file)
type(annotations)

dict

In [9]:
df = pd.DataFrame(annotations['annotations'])

In [42]:
pd.DataFrame(annotations['categories'])

   id supercategory                       name keypoints skelton
0   0                                    Arrow        []      []
1   1                              Object View        []      []
2   2                                Dimension        []      []
3   3                      Dimension Value Box        []      []
4   4                      Tolerance Value Box        []      []
5   5                             Triangle Row        []      []
6   6                Old JIS Surface Roughness        []      []
7   7                New JIS Surface Roughness        []      []

In [13]:
df.category_id.nunique()

1

In [26]:
# check balloons
ballon_path = Path("../data/balloons/balloon/train/coco.json")

In [27]:
bal_anot = mmcv.load(ballon_path)
bal_anot.keys()

dict_keys(['images', 'annotations', 'categories'])

In [39]:
bal_anot['categories']

[{'id': 0, 'name': 'balloon'}]

In [28]:
df_bal = pd.DataFrame(bal_anot['annotations'])

In [31]:
df_bal.category_id.nunique()
df_bal.category_id.unique()

array([0])

In [33]:
df_bal_im = pd.DataFrame(bal_anot['images'])

In [34]:
df_bal_im

    id                     file_name  height  width
0    0  34020010494_e5cb88e1c4_k.jpg    1536   2048
1    1  25899693952_7c8b8b9edc_k.jpg    1365   2048
2    2  24362039530_b151b41a52_k.jpg    2048   1536
3    3  18849792632_aad23ad513_k.jpg    2048   1536
4    4  17178818589_16e58fc1e5_k.jpg    1536   2048
..  ..                           ...     ...    ...
56  56    154446334_5d41cd1375_b.jpg     768   1024
57  57    145053828_e0e748717c_b.jpg     768   1024
58  58    126700562_8e27720147_b.jpg     768   1024
59  59    120853323_d4788431b9_b.jpg     679   1024
60  60     53500107_d24b11b3c2_b.jpg     768   1024

[61 rows x 4 columns]

In [35]:
df_bal

,image_id,id,category_id,bbox,area,segmentation,iscrowd
0,0,0,0,"[994, 619, 451, 547]",246697,"[[1020.5, 963.5, 1000.5, 899.5, 994.5, 841.5, ...",0
1,1,1,0,"[135, 115, 676, 850]",574600,"[[586.5, 133.5, 510.5, 116.5, 441.5, 115.5, 38...",0
2,2,2,0,"[579, 487, 341, 434]",147994,"[[621.5, 550.5, 641.5, 527.5, 670.5, 507.5, 69...",0
3,3,3,0,"[534, 365, 337, 446]",150302,"[[618.5, 385.5, 657.5, 370.5, 688.5, 365.5, 70...",0
4,3,4,0,"[795, 457, 218, 348]",75864,"[[942.5, 480.5, 960.5, 494.5, 979.5, 515.5, 99...",0
...,...,...,...,...,...,...,...
250,59,250,0,"[571, 0, 161, 166]",26726,"[[732.5, 113.5, 722.5, 132.5, 712.5, 148.5, 70...",0
251,59,251,0,"[720, 1, 193, 134]",25862,"[[745.5, 129.5, 736.5, 119.5, 730.5, 106.5, 72...",0
252,59,252,0,"[286, 607, 147, 71]",10437,"[[373.5, 618.5, 358.5, 608.5, 343.5, 607.5, 32...",0
253,59,253,0,"[75, 400, 56, 95]",5320,"[[96.5, 408.5, 104.5, 414.5, 108.5, 417.5, 111...",0
254,60,254,0,"[625, 380, 99, 97]",9603,"[[640.5, 399.5, 654.5, 387.5, 664.5, 382.5, 67...",0

In [36]:
df  # annotations

,id,image_id,segmentation,area,iscrowd,bbox,category_id
0,0,0,"[[1376.28662109375, 1914.3616943359375, 1376.2...",2.268863e+05,0,"[1376.28662109375, 1914.3616943359375, 466.211...",1
1,1,0,"[[1377.6597900390625, 2740.48291015625, 1377.6...",3.081294e+05,0,"[1377.6597900390625, 2740.48291015625, 466.751...",1
2,2,1,"[[2086.919189453125, 2363.779052734375, 2086.9...",1.713465e+05,0,"[2086.919189453125, 2363.779052734375, 424.510...",1
3,3,1,"[[980.4075927734376, 2367.258544921875, 980.40...",7.051460e+04,0,"[980.4075927734376, 2367.258544921875, 180.938...",1
4,4,2,"[[1258.90478515625, 2021.5059814453125, 1258.9...",1.984048e+05,0,"[1258.90478515625, 2021.5059814453125, 133.895...",1
...,...,...,...,...,...,...,...
621,621,197,"[[1369.6810302734375, 1247.220703125, 1369.681...",2.169046e+05,0,"[1369.6810302734375, 1247.220703125, 1354.0162...",1
622,622,197,"[[3307.25927734375, 1251.0347900390625, 3307.2...",1.937737e+04,0,"[3307.25927734375, 1251.0347900390625, 137.308...",1
623,623,198,"[[717.4646606445312, 1052.699951171875, 717.46...",4.273501e+05,0,"[717.4646606445312, 1052.699951171875, 1750.68...",1
624,624,198,"[[3074.59716796875, 1060.3282470703125, 3074.5...",2.182140e+04,0,"[3074.59716796875, 1060.3282470703125, 95.3532...",1
625,625,199,"[[678.2296142578125, 1237.0797119140625, 678.2...",1.227831e+06,0,"[678.2296142578125, 1237.0797119140625, 3165.9...",1

In [37]:
pd.DataFrame(annotations['images'])

,id,license,file_name,coco_url,height,width,date_captured,flickr_url
0,0,0,target-001.png,,4963,3509,,
1,1,0,target-002.png,,4963,3509,,
2,2,0,target-003.png,,4963,3509,,
3,3,0,target-004.png,,4963,3509,,
4,4,0,target-005.png,,4963,3509,,
...,...,...,...,...,...,...,...,...
195,195,0,target-576.png,,3509,4963,,
196,196,0,target-577.png,,3509,4963,,
197,197,0,target-578.png,,3509,4963,,
198,198,0,target-579.png,,3509,4963,,
199,199,0,target-580.png,,3509,4963,,